p{
  font-size:10em;
  font-weight:bold;
 text-align: center;
 margin-bottom: 50px;
 margin-top: 69px;
  background:#333 -webkit-radial-gradient(circle,rgba(255,255,255,1),rgba(255,255,255,0),rgba(255,255,255,0)) no-repeat -280px -94px;
  -webkit-background-clip:text;
  -webkit-background-size:388px;
  color:rgba(255,255,255,0.1);
  -webkit-animation:ani 5s linear infinite;
}

@keyframes ani{
  from{
    background-position:-280px -100px;
    }
  to{
    background-position:790px -100px;
    }
}
    html, body
{
    height: 100%;
}

body
{
    font-family:arial;background-color:black;
    margin: 0;
    background-color: #000000;
}

#app_cover
{
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    width: 460px;
    margin: 0 auto;
}


.block
{
    float: left;
    width: 120px;
    display: block;
    position: relative;
    text-decoration: none;
}

.block:nth-child(2)
{
    margin: 0 50px;
}

.card
{
    width: 120px;
    margin-top: 200px;
    padding-bottom: 30px;
    background-size: cover;
    box-shadow: 0 10px 20px -5px #b6b6b6;
}

.c_c_card
{
    position: absolute;
    top: 0;
    width: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out width;

}

.block:hover .c_c_card
{
    width: 100%;
}

#c_fb
{
    background-color: #4267b2;
}


.cc_card
{
    background-color: #fff;
}

#c_tw
{
    background-color: #1da1f2;
}


#c_gl
{
    background-color: #d93025;
}


.c_brand_logo
{
    color: #fff;
    font-size: 34px;
    padding: 30px 30px 0 30px;
}

#c_o_fb .c_brand_logo
{
    color: #4267b2;
}

#c_o_tw .c_brand_logo
{
    color: #1da1f2;
}

#c_o_gl .c_brand_logo
{
    color: #d93025;
}
.c_share_link
{
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    max-width: 60px;
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.79);
    border-radius: 3px;
}

#c_o_fb .c_share_link
{
    color: #4267b2;
    border-bottom-color: #4267b2;
}

#c_o_tw .c_share_link
{
    color: #1da1f2;
    border-bottom-color: #1da1f2;
}

#c_o_gl .c_share_link
{
    color: #d93025;
    border-bottom-color: #d93025;
}
